In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:** 
- Python
- R
- SQL
- Julia

In [ ]:
## Some of the popular languages that Data Scientists use are:

- Python
- R
- SQL
- Java
- JavaScript
- C++

## Some of the commonly used libraries used by Data Scientists include:

- NumPy
- Pandas
- Matplotlib
- Scikit-Learn
- TensorFlow

In [ ]:
## Data Science Tools

| Tools                    |
|--------------------------|
| Jupyter Notebook         |
| VS Code                  |
| Google Colab             |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

(10 + 2) / 3
2 + 3 * 4

In [ ]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
### This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

In [ ]:
## Author
Dmytro